# Ignore files starting with "model"
models*/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
firebase/*.json
# Ignore the venv directory in firebase/functions
firebase/functions/venv/

# Other files and directories to ignore
node_modules/
.DS_Store
.env
